<!DOCTYPE html>
<html lang="en">

<hr/>
<h1>Add New Genre</h1>
<hr/><br/>
<div class="container">
    <form action="/genres/addGenre" enctype=multipart/form-data method="POST">
        <label for="genreName">Genre</label>
        <input type="text" id="genreName" name="genreName" placeholder="Enter new Genre">

        <input type="submit" value="Submit">

    </form>
</div>
{{#eq status "err"}}
<div id="replaceMe">{{> errorPartial}}</div>
{{/eq}}

{{#eq status "suc"}}
<div id="replaceMe">{{> successesPartial}}</div>
{{/eq}}



{{!-- {{#if message}}
<div id="replaceMe">{{> successesPartial}}</div>
{{/if}}

{{#if message}}
<div id="replaceMe">{{> errorPartial}}</div>
{{/if}} --}}